@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*{
    line-height: 2;
    font-family: 'Roboto', sans-serif;
}

@media (max-width:980px){
   #landing-img{
       display: none;
   }
   #content{
       background-image: url(./images/fashion-photography-of-woman-hands-on-chin-with-glitter-1081685.jpg);
       background-position: center;
       background-size: cover;
       color: aliceblue;
       height: 80vh !important;
       
       
   }
}

.potfolio{
    margin-top: 200px;
}


nav a{
    font-size: 1.3rem;
    text-transform: capitalize !important;
}
#landing{
    height: 100vh;
    
}
h1{
    font-size: 8vh;
}

hr{
    text-decoration: grey;
}
